@import "tailwindcss";

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald/oswald-medium-regular.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Six Caps';
  src: url('/fonts/Six_Caps/SixCaps-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: 'Bricolage Grotesque', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Oswald', sans-serif;
  --font-accent: 'Six Caps', sans-serif;

  --color-brand-primary: #ff3b3b; /* Red Salsa - Vermelho vibrante */
  --color-brand-secondary: #ffb800; /* Orange Yellow Crayola - Amarelo alaranjado */
  --color-brand-tertiary: #6b6375; /* Purple Mountain Majesty - Cinza roxo suave */
  --color-brand-quaternary: #111827; /* Jet - Preto profundo */
  --color-brand-quinary: #f4f0e9; /* Cultured - Cinza claro suave */
  --color-brand-senary: #00f5d4; /* Eletric Cyan - Azul esverdeado */
  --color-brand-septenary: #f0f0eb; /* Cloud Dancer - Branco cremoso suave (Pantone 2026) */
  --color-brand-octonary: #a47864; /* Mocha Mousse -	Marrom chocolate quente */
}

:root {
  --text: var(--color-brand-tertiary);
  --text-h: var(--color-brand-quaternary);
  --bg: var(--color-brand-septenary);
  --border: var(--color-brand-quinary);
  --code-bg: var(--color-brand-senary);
  --accent: var(--color-brand-primary);
  --accent-bg: var(--color-brand-secondary);
  --accent-border: var(--color-brand-secondary);
  --social-bg: var(--color-brand-octonary);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Bricolage Grotesque', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Oswald', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--color-brand-tertiary);
    --text-h: var(--color-brand-quaternary);
    --bg: var(--color-brand-septenary);
    --border: var(--color-brand-quinary);
    --code-bg: var(--color-brand-senary);
    --accent: var(--color-brand-primary);
    --accent-bg: var(--color-brand-secondary);
    --accent-border: var(--color-brand-secondary);
    --social-bg: var(--color-brand-octonary);
    --shadow:
      rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%; /* before 1126px */
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: normal;
  color: var(--text-h);
}

.font-accent {
  font-family: var(--font-accent);
  letter-spacing: 0.1em;
}

h1 {
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    margin: 20px 0;
  }
}

h2 {
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h3 {
  text-transform: none;
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
